@font-face {
  font-family: 'vaivai';
  src: url('../styles/fonts/Vaivai Handwritting Regular Mac.ttf');
}

@font-face {
  font-family: 'Vaivai Handwritting Regular Mac';
  src: url('../styles/fonts/Vaivai%20Handwritting%20Regular%20Mac.ttf');
}

@font-face {
  font-family: 'Big Bimbo NC';
  src: url('../styles/fonts/Big Bimbo NC.ttf');
}

@font-face {
  font-family: 'TerminalDosis-Medium';
  src: url('../styles/fonts/TerminalDosis-Medium.ttf');
}

body {
  font-family: sans-serif;
}


/***********

  Header 

********/

header {
  background: white;
  border-bottom: solid 3px #ce2076;
}

.logo {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: -1;
}

@-webkit-keyframes checked-anim {
  25% {
    width: 300px;
    height: 370px;
  }
  50% {
    width: 300px;
    height: 370px;
  }
  100% {
    width: 300px;
    height: 370px;
    border-radius: 0;
  }
}

@keyframes checked-anim {
  25% {
    width: 300px;
    height: 370px;
  }
  50% {
    width: 300px;
    height: 370px;
  }
  100% {
    width: 300px;
    height: 370px;
    border-radius: 0;
  }
}

@-webkit-keyframes not-checked-anim {
  0% {
    width: 300px;
    height: 300px;
  }
}

@keyframes not-checked-anim {
  0% {
    width: 300px;
    height: 300px;
  }
}

#menu li,
.headerMenu {
  margin: 75px 0 -55px 30px;
  color: #ce2076;
  font: 19px 'TerminalDosis-Medium', sans-serif;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}

#menu li {
  width: 230px;
  text-indent: 56px;
}

#menu a:hover {
  color: #8b4513;
}

#menu a:focus {
  display: block;
  color: #8b4513;
  background-color: #eee;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#trigger,
#burger,
#burger:before,
#burger:after {
  position: absolute;
  display: inline-block;
  top: 25px;
  left: 25px;
  background: #ce2076;
  width: 30px;
  height: 5px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
  z-index: 4;
}

#trigger {
  height: 25px;
  background: none;
  z-index: 4;
}

#burger:before {
  content: " ";
  top: 10px;
  left: 0;
  z-index: 3;
}

#burger:after {
  content: " ";
  top: 20px;
  left: 0;
  z-index: 3;
}

#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  -webkit-transform: rotate(45deg) translateX(-5px);
  transform: rotate(45deg) translateX(-5px);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  -webkit-transform: rotate(-45deg) translateX(-5px);
  transform: rotate(-45deg) translateX(-5px);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-animation: not-checked-anim .2s both;
  animation: not-checked-anim .2s both;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

#menu-toggle:checked + #trigger + #burger + #menu {
  -webkit-animation: checked-anim 1s ease both;
  animation: checked-anim 1s ease both;
}

#menu-toggle:checked + #trigger ~ #menu > li,
.headerMenu {
  display: block;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}


/***********

RESEAUX SOCIAUX

***********/

.social {
  position: fixed;
  z-index:50;
  width: 40px;
}

#facebook {
  right: 5px;
  bottom: 5px;
}

#pinterest {
  right: 55px;
  bottom: 5px;
}

#linkedIn {
  right: 110px;
  bottom: 5px;
}

#twitter {
  right: 165px;
  bottom: 5px;
}

#instagram {
  right: 220px;
  bottom: 5px;
}

#youtube {
  right: 275px;
  bottom: 5px;
}


/************************

Body

**************************/

.container {
  text-align: center;
}


/************************

Slider

**************************/

.monSlider .slick-slide {
  height: 575px;
  position: relative;
  z-index: 1;
}

.bouton img {
  width: 70px;
}

.icone {
  position: relative;
  text-align: center;
  margin-top: -140px;
  padding-top: 0px;
  z-index: 2;
}


/************************

Partie Video

**************************/

.video {
  background-image: url(../images/fond-production_SingleProductPage.png);
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  height: 733px;
  max-width: 100%;
  margin-top: 64px;
  position: relative;
}

embed,
iframe,
object {
  max-width: 100%;
}

iframe {
  margin-top: -100px;
}

.logoCoconut {
  position: relative;
  z-index: 3;
  margin-top: -60px;
  margin-left: -420px;
  max-width: 100%;
}

.logoCoconutCache {
  display: none;
}


/************************

Categories

**************************/

.row {
  background-image: url(../images/bodypartie3.png);
  max-width: 100%;
}

.row .logofnac {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: -400px;
}

.categorie {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.buttonCategorie {
  display: inline-block;
  width: 190px;
  height: 100px;
  margin-top: 7px;
  margin-left: 30px;
  text-align: center;
  padding: 35px 0;
  color: white;
  font-size: 18px;
  font-family: MontSerrat, sans-serif;
  background: #ce2076;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 8px;
}

.buttonCategorie:hover {
  background: white;
  width: 200px;
  height: 70px;
  padding: 25px 0;
  color: #ce2076;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

/***********

  jeu concours

********/
.jeuConcours {
  text-align:center;
  margin-top:20px;
  padding-bottom:60px;
  position:relative;
  background-image: url(../images/fond-production_SingleProductPage.jpg);
  margin:0 auto;

}



.txtImgJeu {
  padding-left:50px;
  padding-right:50px;
 display:inline-block;
}

h2 {
  font-family:'Big Bimbo NC';
  font-size:50px;
  padding-top:90px;
  padding-bottom:20px;
}

h3 {
  font-size:35px;
  color:#ce2076;
  font-family:'Big Bimbo NC';
  padding-top:50px;
}

.txtPJeu {
  font-family:'TerminalDosis-Medium';
  font-size:25px;
}
.hashtags {
  display:inline-block;
  width: 190px;
  height: 50px;
  margin-top: 7px;
  text-align: center;
  padding: 15px 0;
  color: #ce2076;
  font-size: 18px;
  font-family: MontSerrat, sans-serif;
  background: white;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

/*********

  FOOTER

********/

footer {
  background-color: white;
  height: 140px;
  margin-top: 0px;
  text-align: center;
}
.footFooter, .footerLink{
  font-family: 'Big Bimbo NC';
}

#test {
  padding-top: 20px;
}

@media screen and (min-width:640px) {
.footerLink {
  margin: 10px 10px 10px 10px;
  font-size: 18px;
  color: #ce2076;
}

.footFooter {
  color: #04cfdd;
  font-size: 20px;
  padding-bottom: 20px;
}
}

@media screen and (max-width:639px) {
.footerLink {
  margin: 10px 10px 10px 10px;
  font-size: 9px;
  color: #ce2076;
}

.footFooter {
  color: #04cfdd;
  font-size: 8px;
  padding-bottom: 20px;
}

/*********

  compatibility

********/

@media screen and (min-width:1070px) {
  .imgJeu {
  width:400px;
  margin-top:-190px;
}
}

@media screen and (min-width:900px) and (max-width:1069px) {
  .logoCoconut {
    position: relative;
    z-index: 3;
    margin-top: -60px;
    margin-left: -340px;
    max-width: 100%;
  }
  .buttonCategorie:hover {
    height: 100px;
    padding: 35px 0;
  }
  .imgJeu {
  max-width:90%;
    margin:0;
}
}

@media screen and (min-width:300px) and (max-width:899px) {
  .bouton img {
    display: none;
  }
  .logoCoconut {
    display: none;
  }
  .logoCoconutCache {
    display: inline;
    width: 190px;
  }
  .video {
    background-image: url(../images/fond-production_SingleProductPage.png);
    position: relative;
    margin-top: 140px;
    max-width: 100%;
  }
  iframe {
    margin-top: 10px;
  }
  .buttonCategorie:hover {
    height: 100px;
    padding: 35px 0;
  }
    .imgJeu {
  max-width:90%;
      margin:0;
  
}
}

@media screen and (min-width:300px) and (max-width:450px) {
  .row {
    height: 360px;
  }
    .imgJeu {
  max-width:90%;
      margin:0;
  
}
}