@font-face {
  font-family: 'Vaivai Handwritting Regular Mac';
  src: url('../polices/Vaivai%20Handwritting%20Regular%20Mac.ttf');
}

@font-face {
  font-family: 'Big Bimbo NC';
  src: url('../polices/Big Bimbo NC.ttf');
}

@font-face {
  font-family: 'TerminalDosis-Medium';
  src: url('../polices/TerminalDosis-Medium.ttf');
}


/***********

Header 

********/

header {
  background: white;
  border-bottom: solid 3px #ce2076;
}

.logo {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: -1;
}

@-webkit-keyframes checked-anim {
  25% {
    width: 300px;
    height: 370px;
  }
  50% {
    width: 300px;
    height: 370px;
  }
  100% {
    width: 300px;
    height: 370px;
    border-radius: 0;
  }
}

@keyframes checked-anim {
  25% {
    width: 300px;
    height: 370px;
  }
  50% {
    width: 300px;
    height: 370px;
  }
  100% {
    width: 300px;
    height: 370px;
    border-radius: 0;
  }
}

@-webkit-keyframes not-checked-anim {
  0% {
    width: 300px;
    height: 300px;
  }
}

@keyframes not-checked-anim {
  0% {
    width: 300px;
    height: 300px;
  }
}

#menu li,
.headerMenu {
  margin: 75px 0 -55px 30px;
  color: #ce2076;
  font: 19px 'TerminalDosis-Medium', sans-serif;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}

#menu li {
  width: 230px;
  text-indent: 56px;
}

#menu a:hover {
  color: #8b4513;
}

#menu a:focus {
  display: block;
  color: #8b4513;
  background-color: #eee;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#trigger,
#burger,
#burger:before,
#burger:after {
  position: absolute;
  display: inline-block;
  top: 25px;
  left: 25px;
  background: #ce2076;
  width: 30px;
  height: 5px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
  z-index: 4;
}

#trigger {
  height: 25px;
  background: none;
  z-index: 4;
}

#burger:before {
  content: " ";
  top: 10px;
  left: 0;
  z-index: 3;
}

#burger:after {
  content: " ";
  top: 20px;
  left: 0;
  z-index: 3;
}

#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  -webkit-transform: rotate(45deg) translateX(-5px);
  transform: rotate(45deg) translateX(-5px);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  -webkit-transform: rotate(-45deg) translateX(-5px);
  transform: rotate(-45deg) translateX(-5px);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-animation: not-checked-anim .2s both;
  animation: not-checked-anim .2s both;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

#menu-toggle:checked + #trigger + #burger + #menu {
  -webkit-animation: checked-anim 1s ease both;
  animation: checked-anim 1s ease both;
}

#menu-toggle:checked + #trigger ~ #menu > li,
.headerMenu {
  display: block;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}


/*****

RESEAUX SOCIAUX

*****/

.social {
  position: fixed;
  z-index: 50;
  width: 40px;
}

#facebook {
  right: 5px;
  bottom: 5px;
}

#pinterest {
  right: 55px;
  bottom: 5px;
}

#linkedIn {
  right: 110px;
  bottom: 5px;
}

#twitter {
  right: 165px;
  bottom: 5px;
}

#instagram {
  right: 220px;
  bottom: 5px;
}

#youtube {
  right: 275px;
  bottom: 5px;
}


/*********


BODY


*********/

.formulaire{
  font-family: 'TerminalDosis-Medium';
}
.titre {
  font-family: "Big Bimbo_NC";
  color: #ce2076;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.soustitre {
  font-size: 60px;
  text-align: center;
  font-family: "Vaivai Handwritting Regular Mac";
}

.Bouton {
  background: #ce2076;
  color: white;
  display: block;
  margin: 0 auto;
  font-family: "Dosis-Light";
  margin-bottom: 25px;
  margin-top: 10px;
  border-radius: 5px;
}

.Bouton:hover {
  background: white;
  color: #ce2076;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body {
font-family:'';
}

h4 {
  font-family: "Dosis-Light";
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 15px;
}

fieldset {
  border-top: 2px solid #ce2076;
  display: block;
  margin: 0 auto;
  width: 600px;
}

textarea {
  border: 1px solid whitegrey;
  border-radius: 5px;
}

select {
  border: 1px solid whitegrey;
  border-radius: 5px;
}

#Nom {
  border: 1px solid whitegrey;
  border-radius: 5px;
}

textarea:hover {
  border: 1px solid #ce2076;
  border-radius: 5px;
}

select:hover {
  border: 1px solid #ce2076;
  border-radius: 5px;
}

#Nom:hover {
  border: 1px solid #ce2076;
  border-radius: 5px;
}

@media only screen and (max-width: 640px) {
  .titre {
    text-align: left;
    font-size: 15px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 640px) {
  .Bouton {
    margin-left: 0px;
  }
}

@media only screen and (max-width:640px) {
  fieldset {
    width: 400px;
  }
}

@media only screen and (max-width:400px) {
  fieldset {
    width: 300px;
  }
}


/*********

FOOTER

*********/

footer {
  background-color: white;
  height: 140px;
  margin-top: 0px;
  text-align: center;
}
  #test {
  padding-top: 20px;
}

.footerLink{
  color: #ce2076;
}

.footFooter, .footerLink{
  font-family: 'Big Bimbo NC';
}

@media screen and (min-width:641px) {
.footerLink {
  font-size: 18px;
}

.footFooter{
 font-size: 20px;
  padding-bottom: 20px; 
}




@media screen and (max-width:640px) {
.footerLink {
  font-size: 8px;
  color: #ce2076;
}

.footFooter{
 font-size: 10px;
  padding-bottom: 20px; 
}
}